<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Find duplicated tracks in your Spotify playlists">
  <meta name="author" content="Carlos Alexandro Becker">

  <title>Spotify Duplicate Finder</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/custom.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Spotify Duplicate Finder</h1>
      <p class="lead">
        Find and remove repeated music from your Spotify playlists.
      </p>
    </div>

    <%= yield %>

    <p></p>
    <hr>
    <footer class="footer">
      <!-- Place this tag where you want the button to render. -->
      <a data-count-api="/users/caarlos0#followers" data-count-href="/caarlos0/followers" data-style="mega" href="https://github.com/caarlos0" class="github-button">Follow @caarlos0</a>
      <!-- Place this tag right after the last button or just before your close body tag. -->
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </footer>

  </div>
</body>
</html>
