<div class="row">
  <div class="col-lg-12">
  <h1>Possible duplicated tracks:</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-stripped">
        <thead>
          <tr>
            <th>
              <input class="all" type="checkbox"
                title="Check/uncheck all tracks">
            </th>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
          <tr>
            <td><input type="checkbox" id="<%= track.id %>" class="track"></td>
            <td><%= track.name %></td>
            <td><%= track.artists.map(&:name).join(' ') %></td>
            <td><%= track.album.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <button id="remove" type="button" class="btn btn-danger">
      Remove selected tracks
    </button>
  </div>
</div>
<script src="/playlist.js"></script>
